body {
	font-family: 'Poppins';
}
header {
	box-shadow: 0 4px 13px -2px rgb(100,100,100, 0.5);
	margin-bottom: 50px;
}
header nav a{
	color: #EE6C4D;
}
header nav a:hover {
	text-decoration: none;
	color: #1B1B1E;
	transition: 1s;
}
header .logo img {
	width: 160px;
}
header .button {
	color: #EE6C4D;
	border-color: #EE6C4D;
	border-width: 3px;
	width: 120px;
	border-radius: 30px;
}
header .button:hover {
	background: #EE6C4D;
	border-color: #EE6C4D;
}
.arts {
	flex-direction: column;
	margin-bottom: 30px;
}
.articles-div {
	display: flex;
	flex-wrap: wrap;
}
.articles article {
	height: auto;
	margin-bottom: 20px;
	padding: 0;
}
article.col-md-3{
	padding-left:10px;
	min-width: 260px;
}
.articles article:hover > .card{
	cursor: pointer;
	background: #EE6C4D;
	transition: .5s;
}
.articles article:hover > .card {
	transform: translateY(-5px) scale(1.005) translateZ(0);
	box-shadow: 0 9px 20px 5px rgb(100,100,100, 0.5);
}
.articles article:hover > .card .card-title,
.articles article:hover > .card .card-text,
.articles article:hover > .card .info div span,
.articles article:hover > .card .more {
	color: #fff;
	transition: all .5s ease-out;
}
.articles article:hover > .card .info div i{
	color: #fff;
	transition: .5s;
}
.articles article:nth-child(1) {
	margin-left: 0;
}
.articles article .card {
	box-shadow: 0 4px 13px -2px rgb(100,100,100, 0.5);
	border-radius: 30px;
	width: 100%;
	background: transparent;
}
.articles article .card-img-top {
	border-radius: 30px 30px 0 0;
}
.articles article .card .card-title {
	color: #EE6C4D;
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 18px;
}
.articles article .card .info {
	margin-bottom: 16px;
	display: flex;
}
.articles article .card .info div:nth-child(1) {
	margin-left: 0;
	cursor: pointer;
}
.articles article .card .info div {
	display: flex;
	margin-left: 10px;
}
.articles article .card .info i{
	font-size: 20px;
	color: #EE6C4D;
}
.articles article .card .info span {
	font-size: 14px;
	color: #1B1B1E;
	margin-left: 8px;
}
.articles article .card .card-text {
	font-size: 15px;
	color: #1B1B1E;
}
.articles article .card .more {
	font-weight: bold;
	color: #EE6C4D;
}
.articles article .card .more:hover {
	text-decoration: none;
	color: #1B1B1E;
	transition: 1s;
}
.aside {
	padding-left: 30px;
}
.aside .card:nth-child(1) {
	margin-top: 0;
}
.aside .card{
	background: transparent;
	border: 0;
	margin-top: -40px;
}
.aside .card .card-title {
	margin-bottom: 20px;
	color: #EE6C4D;
	font-weight: 700;
	font-size: 28px;
}
.aside .card .card-text {
	color: #293241;
}
.aside .card .button {
	border: 0;
	border-radius: 30px;
	width: 130px;
	font-size: 16px;
    padding: 0.575rem 1rem;
	background: #EE6C4D;
}
.aside .card .button:hover {
	background: transparent;
	border: 2px solid #EE6C4D;
	color: #EE6C4D;
	transition: .5s;
}
.aside .card .search-input {
	border-color: #EE6C4D;
	border-width: 2px;
	color: #EE6C4D;
	border-radius: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}
.aside .search form .form-group {
	display: flex;
	align-items: center;
}
.aside .search form button {
	background: transparent;
	border: 0;
	position: absolute;
	right: 35px;
}
.aside .search form button i{
	color: #EE6C4D;
	font-size: 18px;
}
.aside .categories ul li {
	list-style-image: url('../img/icons/ul.png');
	padding-left: 10px;
	margin-top: 20px;
}
.aside .categories ul li a {
	color: #1B1B1E;
}
@media only screen and (max-width: 770px) {
.articles-div {
	flex-direction: column;
	width: 100%!important;
}
.articles article {
	margin-left: 0;
	margin-top: 30px;
}
}
@media only screen and (max-width: 991px) {
.aside {
	padding-left: 0;
}
}
.articles .pagination {
	justify-content: center;
	margin: 30px;
}
.articles .pagination ul li:nth-child(1) {
	margin-left: 0;
}
.articles .pagination ul li{
	margin-left: 4px;
}
.articles .pagination .page-link {
	border: 0;
	color: #1B1B1E;
}
.articles .pagination .page-link:hover {
	color: #fff;
	transition: .5s;
	background: #EE6C4D;
}
.articles .pagination .active {
	color: #fff;
	background: #EE6C4D;
}
.sign .panel-title {
	color: #EE6C4D;
	font-weight: 700;
	margin-bottom: 20px;
}
.sign .steps {
	margin-bottom: 20px;
}
.sign .steps svg {
	width: 100%;
}
.sign form input {
	border-color: #EE6C4D;
	border-width: 2px;
	color: #EE6C4D;
	border-radius: 130px;
	padding: 25px 0 25px 25px;
}
.sign .submit {
	color: #fff;
	border: 0;
	background: #EE6C4D;
	padding: 15px;
}
.sign .texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media only screen and (max-width: 991px) {
.sign .texts {
	margin-top: 50px;
}
}
.profile .avatar {
	width: 300px;
}
.profile .avatar img {
	width: 100%;
}
.profile .info {
	display: flex;
}
.profile .info .texts {
	margin-left: 30px;
}
.profile .like .emphasis {
	padding: 0;
}
.profile .like i {
	width: 26px;
}
.profile .like button {
	background: #fff;
	border: 0;
	border-radius: 30px;
	color: #EE6C4D;
	box-shadow: 0 4px 13px -2px rgb(100,100,100, 0.5);
	width: 130px;
	margin-top: 30px;
}
.profile .like button:hover {
	background: #EE6C4D;
	color: #fff;
	transform: translateY(-5px) scale(1.005) translateZ(0);
	transition: .5s;
}
.profile .like button:hover > .profile .like i {
	color: #fff;
	transition: .5s;
}
.profile .gallery {
	margin-top: 30px;
}
.profile .gallery img {
	width: 100%;
}

@media only screen and (max-width: 770px) {
	.profile .info {
		flex-direction: column;
	}
	.profile .info .texts {
		margin-left: 0;
		margin-top: 20px;
		padding: 0;
	}
	.profile .avatar {
		width: 100%;
	}
	.profile .like {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.profile .like button {
		margin-top: 30px;
	}
	.profile .texts {
		max-width: none;
	}
}
.profile .ph-gl {
	margin-bottom: 16px;
	display: flex;
}
.profile .ph-gl div:nth-child(1) {
	margin-left: 0;
	cursor: pointer;
}
.profile .ph-gl div {
	display: flex;
	margin-left: 15px;
}
.profile .ph-gl i{
	font-size: 20px;
	color: #EE6C4D;
}
.profile .ph-gl span {
	font-size: 14px;
	color: #1B1B1E;
	margin-left: 8px;
}
.profile .texts .profile-title {
	font-size: 34px;
	color: #EE6C4D;
	font-weight: 700;
	margin-bottom: 15px;
}
.profile .texts p {
	font-size: 15px;
}
@media only screen and (max-width: 305px) {
	.profile .ph-gl {
		flex-direction: column;
	}
	.profile .ph-gl div:nth-child(2) {
		margin-left: 0;
		margin-top: 10px;
	}
}
.search-content {
	color: #EE6C4D;
	margin-bottom: 30px;
}
.search-content span {
	font-size: 26px;
}
.crud {
	margin-top: 150px;
}
.crud .card-header {
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 400px)  {
	.crud .card-header {
		flex-direction: column;
	}
}

#submenu{
	display: none;
	position: absolute;
	right: 0;
	top: 74px;
	height: calc(100vh - 74px);
	background-color: white;
	z-index: 999;
}
.menubars{
	position: absolute;
	right: 20px;
	top: 100px;
	z-index: 9999
}
.menubars>i{
	color:#EE6C4D;
	
}
.fa-times{
	display: none;
}